/* Fonts */

/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/rubik-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/rubik-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/rubik-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/rubik-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/rubik-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/rubik-v19-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/rubik-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/rubik-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/rubik-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/rubik-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/rubik-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/rubik-v19-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* Globales */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Rubik';
    background-color: rgb(24, 24, 24);
}

/* Generelles */

.bg-green {
    background: radial-gradient(circle, #3cdd26 20%, rgba(0,0,0,0.9) 90%);
}

.bg-red {
    background: radial-gradient(circle, rgba(218,6,6,1) 20%, rgba(0,0,0,0.9) 90%);
}

.bg-blue {
    background: radial-gradient(circle, rgba(12,183,253,1) 20%, rgba(0,0,0,0.9) 90%);
}

.bg-light-green {
    background: radial-gradient(circle, rgba(65,147,74,1) 20%, rgba(0,0,0,1) 85%);
}

.bg-light-cyan {
    background: radial-gradient(circle, rgba(199,204,215,1) 20%, rgba(0,0,0,1) 85%);
}

.bg-dark-green {
    background: radial-gradient(circle, rgba(59,107,79,1) 20%, rgba(0,0,0,1) 85%);
}

.bg-yellow {
    background: radial-gradient(circle, rgba(255,244,0,1) 21%, rgba(0,0,0,1) 85%);
}

.bg-brown {
    background: radial-gradient(circle, rgba(217,171,29,1) 21%, rgba(0,0,0,1) 85%);
}

.bg-fairy {
    background: radial-gradient(circle, rgba(160,124,136,1) 21%, rgba(0,0,0,1) 85%);
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(24, 24, 24); */
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 60px;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.header > img {
    height: 50px;
    object-fit: cover;
    margin-left: 3rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.input-search {
    height: 100%;
    width: 30%;
    display: flex;
    background-color: antiquewhite;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.input-search > input {
    border: none;
    height: 100%;
    width: 250px;
    font-size: 1rem;
    padding-left: 0.5rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    background-color: antiquewhite;
    color: black;
}

/* Preview-Card */

.pokemon-preview-card {
    border: 2px solid black;
    width: 300px;
    height: 400px;
    margin: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 7px 14px 8px #000000;
    opacity: 0.9;
}

.pokemon-preview-card:hover {
    opacity: 1;
    cursor: pointer;
}

.pokemon-name-container {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-shadow:0px 2px 9px #000000;
    margin-top: 2rem;
}

.pokemon-name {
    font-weight: 400;
}

.pokemon-picture-container {
    display: flex;
    justify-content: center;
}

.pokemon-picture {
    height: 10rem;
    width: 10rem;
}

.pokemon-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.pokemon-type{
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    /* border: 2px solid black; */
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 0.5rem;
    background-color: rgba(24, 24, 24, 0.5);
    color: whitesmoke;
}

/* Pokemon Card */

.dialog-bg {
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialog-card {
    width: 300px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pokemon-dialog-name {
    color: whitesmoke;
    text-shadow: 0px 2px 9px #000000;
    font-weight: 400;
    margin-top: 1.5rem;
}

.pokemon-dialog-img {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 91px;
    left: 78px;
    z-index: 3;
}

.pokemon-dialog-stats-container {
    margin-top: -100px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
}

.dialog-stats {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}
