/* Fonts */

/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/rubik-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/rubik-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/rubik-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/rubik-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/rubik-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/rubik-v19-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/rubik-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/rubik-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/rubik-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/rubik-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/rubik-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/rubik-v19-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* Globales */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Rubik';
}

/* Generelles */

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-light-green {
    background-color: lightgreen;
}

.bg-light-cyan {
    background-color: lightcyan;
}

.bg-dark-green {
    background-color: #3B6B4F;
}

.bg-yellow {
    background-color: yellow;
}

.bg-brown {
    background-color: burlywood;
}

.bg-fairy {
    background-color: #A07C88;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}

/* Preview-Card */

.pokemon-preview-card {
    border: 2px solid black;
    width: 350px;
    height: 450px;
    margin: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
    box-shadow: 0px 0px 6px 3px rgb(255 255 255 / 50%);
}

.pokemon-name-container {
    display: flex;
    justify-content: center;
}

.pokemon-name {
    font-weight: 400;
}

.pokemon-picture-container {
    display: flex;
    justify-content: center;
}

.pokemon-picture {
    height: 10rem;
    width: 10rem;
}

.pokemon-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-type{
    font-size: 1.5rem;
    padding: 0.5rem;
}